.card-heading {
    margin-bottom: 3.2rem;
}

.card-li {
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 1rem;
}

img {
    width: 100%;
}

.super-hit {
    background-color: #7bcea0;
}

.rating-col {
    color: #7bcea0;
    font-weight: 900;
}

.average {
    background-color: #f7dc6f;
}

.rating {
    padding: 0.3rem 1.9rem;
    color: #000;
    margin-left: 1.2rem;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}

button {
    border-radius: 8px;
    font-size: 14px;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    border: none;
    background-color: #7589ed;
}