<section class="countriesCards">

<div class="countryCard">
    <a href="/country/Republic%20of%20India">

        <img
            src="https://flagcdn.com/in.svg"
            alt="Indian national flag"
            class="countryFlag"
        />

        <div class="countryInfo">

            <p class="countryTitle">Republic of India</p>

            <div>
                <p>
                    <span class="infoTopic">Population:</span>
                    1,380,004,385
                </p>

                <p>
                    <span class="infoTopic">Region:</span>
                    Asia
                </p>

                <p>
                    <span class="infoTopic">Capital:</span>
                    New Delhi
                </p>
            </div>

        </div>

    </a>
</div>

</section>
</body>
</html>